@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.articleIndex_container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.articleIndex_container_content
{
    height: 90%;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 30px 40px;
}
.articleIndex_container_title
{
    padding: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}
.articleIndex_container_map
{
    
}


.articleComp_container
{
    padding: 20px 15px;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.62); 
    box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.62);
    display: flex;
    flex-direction: row;
    height: 200px;
    cursor: pointer;
    border: 2px solid transparent;
}
.articleComp_container:hover{
    border: 2px solid rgb(129, 129, 129);
    transition: border 0.4s ease;
}
.articleComp_container_left
{
    height: 100%;
    width: 50%;
    font-family: 'Poppins', sans-serif;
}
.articleComp_container_left_title
{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.articleComp_container_left_content
{
    height: 80%;
    width: 100%;
    padding: 10px;
    font-size: 0.8em;
    padding: 10px;
    overflow: hidden;
}




.articleComp_container_right
{    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.articleComp_container_right img 
{
    height: 100%;
    border-radius: 7px;
}